@using Chinook.ClientModels;
@using Chinook.Managers;
@using Chinook.Models;
@using System.Security.Claims;

@inject NavMenuManager navMenuManager;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>


        @foreach (var playList in PlayLists.Where(x => x.PlaylistId != Constants.DefaultPlayListId).ToList())
        {
            <div class="nav-item px-3">
                <a class="nav-link" href="@string.Format("playlist/{0}",playList.PlaylistId)" Match="NavLinkMatch.Prefix">
                    <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@playList.Playlist.Name
                </a>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<UserPlaylistModel> PlayLists;
    @inject PlayListsManager playlistManager; // Injecting playlist manager to access the data retrival methods
    private string CurrentUserId;
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
        CurrentUserId = await GetUserId();
        PlayLists = playlistManager.GetPlayListsByUser(CurrentUserId);
        navMenuManager.OnMenuUpdated += OnMenuUpdated;
    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    /// <summary>
    /// Unregister the event handler when the component is disposed
    /// </summary>
    /// <returns></returns>
    public void Dispose()
    {
        navMenuManager.OnMenuUpdated -= OnMenuUpdated;
    }

    /// <summary>
    /// Refresh the Nav menu when this event is triggered
    /// </summary>
    /// <returns></returns>
    private async void OnMenuUpdated(object sender, EventArgs e)
    {
        PlayLists = playlistManager.GetPlayListsByUser(CurrentUserId);
        StateHasChanged();
    }
}
